## OS and Utility Stuff ##

#==================#
#     OS Files     #
#==================#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes


#==================#
#    Log files     #
#==================#
*.log
error_log
access_log
.sass-cache


#===================================#
#       Config. and npm Files       #
#===================================#
local-config.php
# wp-config.php
node_modules



## Main Stuff ##

#===================================#
#     WP Core, except content       #
#===================================#
/*
!.gitignore
!wp-content/
# !media/
!favicon.ico
!favicon.png
robots.txt
humans.txt

#=============================================#
#     wp-content, except plugins and themes   #
#=============================================#
wp-content/*
!wp-content/plugins/
!wp-content/mu-plugins/
!wp-content/themes/
!wp-content/fonts/
# !wp-content/uploads ##=> It's a good idea to ignore uploads, especially if you are using git to deploy to live/dev environments. Un-comment this line to 'watch' uploads


## Use these to get more specifc

##### CACHE #####
wp-content/w3tc-config
wp-content/cache/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/db.php
wp-content/object-cache.php
